@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

* {
  font-family: 'Roboto Condensed', sans-serif;
}

form {
  display: none;
}

.main-container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 5px solid black;
  border-radius: 15px;
}

.warm {
  color: red;
}

.cold {
  color: blue;
}
